:root {
	--color-gray-050: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2a37;
	--color-gray-900: #111928;
	--color-red-050: #fdf2f2;
	--color-red-100: #fde8e8;
	--color-red-200: #fbd5d5;
	--color-red-300: #f8b4b4;
	--color-red-400: #f98080;
	--color-red-500: #f05252;
	--color-red-600: #e02424;
	--color-red-700: #c81e1e;
	--color-red-800: #9b1c1c;
	--color-red-900: #771d1d;
	--color-orange-050: #fff8f1;
	--color-orange-100: #feecdc;
	--color-orange-200: #fcd9bd;
	--color-orange-300: #fdba8c;
	--color-orange-400: #ff8a4c;
	--color-orange-500: #ff5a1f;
	--color-orange-600: #d03801;
	--color-orange-700: #b43403;
	--color-orange-800: #8a2c0d;
	--color-orange-900: #771d1d;
	--color-yellow-050: #fdfdea;
	--color-yellow-100: #fdf6b2;
	--color-yellow-200: #fce96a;
	--color-yellow-300: #faca15;
	--color-yellow-400: #e3a008;
	--color-yellow-500: #c27803;
	--color-yellow-600: #9f580a;
	--color-yellow-700: #8e4b10;
	--color-yellow-800: #723b13;
	--color-yellow-900: #633112;
	--color-green-050: #f3faf7;
	--color-green-100: #def7ec;
	--color-green-200: #bcf0da;
	--color-green-300: #84e1bc;
	--color-green-400: #31c48d;
	--color-green-500: #0e9f6e;
	--color-green-600: #057a55;
	--color-green-700: #046c4e;
	--color-green-800: #03543f;
	--color-green-900: #014737;
	--color-teal-050: #edfafa;
	--color-teal-100: #d5f5f6;
	--color-teal-200: #afecef;
	--color-teal-300: #7edce2;
	--color-teal-400: #16bdca;
	--color-teal-500: #0694a2;
	--color-teal-600: #047481;
	--color-teal-700: #036672;
	--color-teal-800: #05505c;
	--color-teal-900: #014451;
	--color-blue-050: #ebf5ff;
	--color-blue-100: #e1effe;
	--color-blue-200: #c3ddfd;
	--color-blue-300: #a4cafe;
	--color-blue-400: #76a9fa;
	--color-blue-500: #3f83f8;
	--color-blue-600: #1c64f2;
	--color-blue-700: #1a56db;
	--color-blue-800: #1e429f;
	--color-blue-900: #233876;
	--color-indigo-050: #f0f5ff;
	--color-indigo-100: #e5edff;
	--color-indigo-200: #cddbfe;
	--color-indigo-300: #b4c6fc;
	--color-indigo-400: #8da2fb;
	--color-indigo-500: #6875f5;
	--color-indigo-600: #5850ec;
	--color-indigo-700: #5145cd;
	--color-indigo-800: #42389d;
	--color-indigo-900: #362f78;
	--color-purple-050: #f6f5ff;
	--color-purple-100: #edebfe;
	--color-purple-200: #dcd7fe;
	--color-purple-300: #cabffd;
	--color-purple-400: #ac94fa;
	--color-purple-500: #9061f9;
	--color-purple-600: #7e3af2;
	--color-purple-700: #6c2bd9;
	--color-purple-800: #5521b5;
	--color-purple-900: #4a1d96;
	--color-pink-050: #fdf2f8;
	--color-pink-100: #fce8f3;
	--color-pink-200: #fad1e8;
	--color-pink-300: #f8b4d9;
	--color-pink-400: #f17eb8;
	--color-pink-500: #e74694;
	--color-pink-600: #d61f69;
	--color-pink-700: #bf125d;
	--color-pink-800: #99154b;
	--color-pink-900: #751a3d;
	--color-primary-050: #ebf5ff;
	--color-primary-100: #e1effe;
	--color-primary-200: #c3ddfd;
	--color-primary-300: #a4cafe;
	--color-primary-400: #76a9fa;
	--color-primary-500: #3f83f8;
	--color-primary-600: #1c64f2;
	--color-primary-700: #1a56db;
	--color-primary-800: #1e429f;
	--color-primary-900: #233876;

	--color-primary: #4dc3c5;
	--color-red: #ca1d61;
	--color-red-background: rgba(205, 37, 97, 0.15);
	--color-orange: #f18c5f;
	--color-orange-background: rgba(241, 140, 95, 0.15);
	--color-yellow: #fccd6c;
	--color-yellow-background: rgba(252, 205, 108, 0.15);
	--color-green: #6edaa6;
	--color-green-background: rgba(110, 218, 166, 0.15);
	--color-blue: #21a5ed;
	--color-blue-background: rgba(33, 165, 237, 0.15);
	--color-contributes-to: #7ad0ff;
	--color-is-affected-by: #7ad0ff;
	--color-is-concrete-target-of: #7ad0ff;
	--color-is-consistent-with: #6edabe;
	--color-is-duplicate-of: #f9e579;
	--color-is-equivalent-to: #7ad0ff;
	--color-is-inconsistent-with: #ca1d61;
	--color-is-prerequisite-of: #7ad0ff;
	--color-is-sub-target-of: #7ad0ff;
	--color-is-superordinate-of: #7ad0ff;
	--gradient-primary: linear-gradient(45deg, rgba(77, 195, 197, 1) 0%, rgba(33, 165, 237, 1) 100%);
	--gradient-first-column: linear-gradient(
		90deg,
		rgba(70, 150, 203, 0.15) 0%,
		rgba(62, 185, 210, 0.15) 100%
	);
	--gradient-second-column: linear-gradient(
		90deg,
		rgba(62, 182, 210, 0.15) 0%,
		rgba(55, 180, 217, 0.15) 100%
	);
	--gradient-third-column: linear-gradient(
		90deg,
		rgba(55, 180, 217, 0.15) 0%,
		rgba(47, 174, 224, 0.15) 100%
	);
	--gradient-fourth-column: linear-gradient(
		90deg,
		rgba(47, 174, 224, 0.15) 0%,
		rgba(40, 169, 231, 0.15) 100%
	);
	--gradient-fifth-column: linear-gradient(
		90deg,
		rgba(40, 169, 231, 0.15) 0%,
		rgba(32, 164, 238, 0.15) 100%
	);
	--gradient-idea: linear-gradient(90deg, rgba(218, 75, 96, 0.15) 0%, rgba(225, 95, 96, 0.15) 100%);
	--gradient-in-planning: linear-gradient(
		90deg,
		rgba(241, 140, 95, 0.15) 0%,
		rgb(254, 183, 97, 0.15) 100%
	);
	--gradient-in-implementation: linear-gradient(
		90deg,
		rgba(252, 205, 108, 0.15) 0%,
		rgba(245, 255, 134, 0.15) 100%
	);
	--gradient-in-operation: linear-gradient(
		90deg,
		rgba(110, 218, 166, 0.15) 0%,
		rgba(168, 234, 152, 0.15) 100%
	);
	--gradient-done: linear-gradient(
		90deg,
		rgba(70, 190, 203, 0.15) 40.28%,
		rgba(110, 218, 166, 0.15) 100%
	);
	--gradient-rejected: linear-gradient(
			90deg,
			rgba(40, 169, 231, 0.15) 0%,
			rgba(32, 164, 238, 0.15) 100%
	);
	--color-hover-neutral: #b4e1f7;
	--color-hover-idea: rgba(218, 75, 96, 0.35);
	--color-hover-in-planning: rgba(241, 140, 95, 0.35);
	--color-hover-in-implementation: rgb(252, 205, 108, 0.35);
	--color-hover-in-operation: rgba(168, 234, 152, 0.35);
	--color-hover-done: rgba(110, 218, 166, 0.35);
	--color-hover-rejected: rgba(40, 169, 231, 0.35);

	--shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
	--shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
	--shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
	--shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

	--focus-color: var(--color-primary-600);
	--active-color: var(--color-blue-200);
	--button-background: transparent;
	--button-border-color: #d1d5db;
	--button-active-background: var(--color-gray-300);
	--button-disabled-background: var(--color-gray-100);
	--button-disabled-border-color: var(--color-gray-100);
	--button-hover-background: var(--color-gray-400);
	--button-hover-border-color: #d1d5db;
	--form-control-background: var(--color-gray-050);

	--nav-height: 65px;
	--organization-menu-max-width: 20rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	color: var(--color-gray-800);
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	color: inherit;
	font: inherit;
}

/* Tables */
table, .table {
	border-collapse: collapse;
	border-color: inherit;
	color: var(--color-gray-700);
	display: table;
	text-align: left;
	text-indent: 0;
	width: 100%;
}

thead, .table-head {
	background: var(--color-gray-050);
	color: var(--color-gray-600);
	display: table-header-group;
}

tbody, .table-body {
	display: table-row-group;
}

tr, .row {
	border-bottom: solid 1px var(--color-gray-200);
	display: table-row;
}

th {
	padding: 0.5rem;
}

td, .cell {
	display: table-cell;
	padding: 0.75rem 0.5rem;
	vertical-align: middle
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Focus styles */
:is(a, button, input, select, summary, textarea, [contenteditable], .focus-indicator) {
	--outline-color: var(--focus-color, currentColor);
	--outline-offset: -1px;
	--outline-size: max(2px, 0.067em);
	--outline-style: solid;
}

:is(a, button, input, select, summary, textarea, [contenteditable]):focus,
.focus-indicator:focus-within {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset);
}

:is(a, button, input, select, summary, textarea, [contenteditable]):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset);
}

:is(a, button, input, select, summary, textarea, [contenteditable]):focus:not(:focus-visible) {
	/* Removes the regular focus styles for browsers that support :focus-visible */
	outline: none;
}

/* Forms and fieldsets */
.form-tab {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0;
}

.form-tab > legend {
	color: var(--color-gray-800, #1f2a37);
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/* Button styles */
button,
.button {
	--padding-x: 19px;
	--padding-y: 9px;

	align-items: center;
	background: var(--button-background);
	border: solid 1px var(--button-border-color);
	border-radius: 8px;
	display: inline-flex;
	font-weight: 500;
	gap: 0.5rem;
	margin: 0;
	padding: var(--padding-y) var(--padding-x);
}

button.primary,
.button.primary {
	--button-background: var(--gradient-primary);
	--button-border-color: var(--color-primary);

	color: white;
}

button.quiet,
.button.quiet {
	--button-background: transparent;
	--button-border-color: transparent;
}

button.button-primary,
.button.button-primary {
	--button-active-background: var(--color-primary-900);
	--button-background: var(--color-primary-700);
	--button-hover-background: var(--color-primary-800);

	border: none;
	color: white;
}

button.button-alternative,
.button.button-alternative {
	--button-active-background: var(--color-gray-200);
	--button-background: white;
	--button-border-color: var(--color-gray-200);
	--button-hover-background: var(--color-gray-100);
	--button-hover-border-color: var(--color-gray-200);

	color: var(--color-gray-900);
}

button.button-alternative:hover,
.button.button-alternative:hover {
	color: var(--color-primary-700);
}

button.fully-rounded,
.button.fully-rounded {
	border-radius: calc(1.5rem + var(--padding-y));
}

button.button-nav,
.button.button-nav {
	--button-border-color: var(--color-gray-900);
	--button-active-background: var(--color-gray-900);
	--button-hover-background: var(--button-active-background);
	--button-hover-border-color: var(--button-border-color);
}

button.button-xs,
.button.button-xs {
	--padding-x: 0.75rem;
	--padding-y: 0.5rem;

	font-size: 0.75rem;
}

button:hover,
.button:hover {
	background: var(--button-hover-background);
	border-color: var(--button-hover-border-color);
}

button.quiet:hover,
.button.quiet:hover {
	--button-hover-border-color: transparent;
}

button.button-nav:hover,
.button.button-nav:hover {
	color: var(--color-gray-300);
}

button:active,
.button:active,
button.is-active,
.button.is-active {
	background: var(--button-active-background);
}

button.button-nav:active,
button.button-nav.is-active,
.button.button-nav:active,
.button.button-nav.is-active {
	color: var(--color-gray-300);
}

button:disabled,
.button:disabled {
	background: var(--button-disabled-background);
	border-color: var(--button-disabled-border-color);
}

button.primary:disabled,
.button.primary:disabled {
	--button-disabled-background: var(--color-gray-300);
	--button-disabled-border-color: var(--color-gray-300);
}

button.button-square,
.button.button-square {
	--padding-x: 9px;
	--padding-y: 9px;
}

button.button-copycat,
.button.button-copycat {
	--padding-y: 0.5rem;

	background: linear-gradient(135deg, rgba(253, 226, 157, 1) 0%, rgba(100, 183, 254, 1) 100%);
	color: white;
}

button.button-copycat:hover,
.button.button-copycat:hover {
	background: linear-gradient(45deg, rgba(254, 246, 174, 1) 0%, rgba(253, 70, 150, 1) 100%);
}

/* Button group */
.button-group {
	display: flex;
}

.button-group > li {
	display: block;
	flex-shrink: 0;
}

.button-group > li > button,
.button-group > li > .button {
	border: none;
	border-radius: 0;
}

.button-group > li {
	border: solid 1px var(--button-border-color);
	border-right-width: 0;
	overflow: hidden;
}

.button-group > li:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.button-group > li:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right-width: 1px;
}

.button-group button:focus,
.button-group .button:focus {
	background-color: var(--button-hover-background);
	outline: none;
}

.button-group.button-group-nav {
	--button-border-color: var(--color-gray-900);
}

.relation-button {
	--padding-x: 0;
	--padding-y: 0;

	background-image: url(/src/lib/assets/relate.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 2.5rem 8.125rem;
	border: none;
	color: var(--color-primary);
	display: inline-block;
	flex: 0 0 2.5rem;
	font-size: 0;
	height: 2.5rem;
	margin-left: auto;
}

.relation-button:hover {
	background-image: url(/src/lib/assets/relate.svg);
	background-color: white;
	background-position: center left;
}

.relation-button.is-active {
	background-image: url(/src/lib/assets/relate.svg);
	background-color: white;
	background-position: center bottom;
}

/* Form controls */
label {
	font-weight: 500;
}

input, progress {
	accent-color: var(--color-primary-700);
}

input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
select,
textarea {
	appearance: none;
	background-color: var(--form-control-background);
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	display: block;
	line-height: 1.2;
	padding: 0.75rem 1rem;
	width: 100%;
}

input[type='date'] {
	max-height: calc(2 * 0.75rem + 1.2rem + 2px);
}

input[type='file'] {
	background-color: var(--form-control-background);
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	color: var(--color-gray-500);
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	padding: 0 16px;
	width: 100%;
}

input[type='file']::file-selector-button {
	background-color: var(--color-gray-800);
	border: none;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	color: white;
	margin: 0 16px 0 -16px;
	padding: 12px 16px 12px 16px;
}

input[type='range'] {
	display: block;
	padding: 12px 0;
}

select {
	background-image: url(/src/lib/assets/chevron-down.svg);
	background-position: right 12px top 12px;
	background-repeat: no-repeat;
	background-size: 18px;
	padding-right: 34px;
}

textarea {
	min-height: 81px;
	resize: vertical;
}

input[type='date']:active,
input[type='email']:active,
input[type='number']:active,
input[type='password']:active,
input[type='search']:active,
input[type='text']:active,
select:active,
textarea:active {
	border-color: var(--color-blue-600);
}

input[type='date']:invalid,
input[type='email']:invalid,
input[type='number']:invalid,
input[type='password']:invalid,
input[type='search']:invalid,
input[type='text']:invalid,
select:invalid,
textarea:invalid {
	background-color: var(--color-red-050);
	border-color: var(--color-red-500);
	color: var(--color-red-700);
}

label > input[type='checkbox'],
label > input[type='radio'] {
	margin: 0;
}

label:has(> input[type='checkbox'], > input[type='radio']) {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	gap: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input + .help {
	display: block;
	margin-top: 0.75rem;
}

fieldset {
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	margin-inline: 0;
	min-width: 0;
	padding: 12px 16px;
}

/* Toggle style checkboxes */
.toggle {
	--height: 1.5rem;
	--padding: 0.125rem;
	--width: calc(var(--height) * 2);

	appearance: none;
	background-color: var(--color-gray-200);
	border-radius: var(--height);
	box-sizing: content-box;
	display: inline-grid;
	margin: 0;
	padding: var(--padding);
	place-content: center start;
	width: var(--width);
}

.toggle::before {
	background-color: #ffffff;
	border-radius: var(--height);
	content: '';
	height: var(--height);
	transform: translateX(0);
	transition: 120ms transform ease-in-out;
	width: var(--height);
}

.toggle:checked {
	background-color: var(--color-primary);
}

.toggle:checked::before {
	transform: translateX(calc(var(--width) - var(--height)));
}

.toggle:focus {
	outline-offset: max(0.125rem, 0.15em);
}

.toggle:disabled {
	background-color: var(--color-gray-200);
}

label:has(> input[type='checkbox'].toggle) {
	overflow: visible;
}

label > input[type='checkbox'].toggle {
	vertical-align: middle;
}

/* Spreadsheet style inputs */
.spreadsheet {
	width: auto;
}

.spreadsheet thead {
	text-transform: none;
}

.spreadsheet th {
	padding: 0.25rem 0.5rem;
}

.spreadsheet td {
	padding: 0;
}

.spreadsheet input {
	border: none;
	border-radius: 0;
	line-height: 1.5;
	padding: 0.25rem 0.5rem;
}

.spreadsheet button {
	--padding-x: 0;
	--padding-y: 0;

	margin: 0.25rem;
	vertical-align: middle;
	width: 1.5rem;
}

/* Avatars */
.avatar {
	border-radius: 50%;
	display: inline-block;
	font-size: var(--font-size);
	height: calc(2 * var(--radius));
	line-height: 1;
	padding: calc(var(--radius) - var(--font-size) / 2) 0;
	text-align: center;
	width: calc(2 * var(--radius));
}

.avatar.avatar-s {
	--radius: 1rem;
	--font-size: 0.75rem;
}

.avatar.avatar-m {
	--radius: 1.5rem;
	--font-size: 1rem;
}

/* Logos of organizations */
.logo {
	height: 30px;
	width: auto;
}

/* Container detail page content */
.detail-page-content {
	background-color: white;
	border: 1px solid var(--color-gray-200);
	border-radius: 8px;
	box-shadow: var(--shadow-lg);
	display: flex;
	flex: 1 1;
	flex-direction: column;
	height: calc(100% - 2rem);
	margin: 1rem 1rem 1rem 0;
}

.content-header {
	padding: 1.5rem 1.5rem 0;
}

.content-header a,
.content-header button {
	float: right;
}

.content-details {
	--mask-height: 1.5rem;

	flex-grow: 1;
	padding: 1.5rem;
}

.content-footer {
	padding: 0 1.5rem 1.5rem;
}

.content-actions {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 1.5rem;
}

.content-actions .delete {
	color: var(--color-red-500);
	margin-left: auto;
}

.icons {
	display: flex;
	flex-shrink: 0;
	gap: 1rem;
	margin-left: auto;
}

.icons-element {
	--padding-x: 0;
	--padding-y: 0;

	border: none;
}

.icons-element:hover {
	--button-hover-background: transparent;

	color: var(--color-gray-500);
}

.details {
	color: var(--color-gray-500);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.details-tab {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.details-title {
	align-items: center;
	color: var(--color-gray-800);
	display: flex;
	font-size: 1.125rem;
	font-weight: 600;
	gap: 0.5rem;
	justify-content: space-between;
}

.details-title > a, .details-title > button {
	flex-shrink: 0
}

.details h3 {
	color: var(--color-gray-800);
	font-size: inherit;
	font-weight: 500;
	margin-bottom: 0.875rem;
}

.details-editable {
	--editor-style: new;

	container-type: inline-size;
	font-size: 0.875rem;
	padding: 0 2rem 1.5rem;
}

.details-editable .details-tab {
	display: block;
}

.details-editable h2 {
	color: var(--color-gray-900);
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	margin-top: 3rem;
	min-height: calc(1.25 * 2.25rem);
}

.details-editable h3 {
	color: var(--color-gray-700);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 0.5rem;
}

.meta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.meta-key {
	flex: 0 1 calc(40rem * 999 - 100% * 999);
	min-width: 10rem;
}

.meta-value {
	flex: 1 1 calc(40rem * 999 - 100% * 999);
}

.meta-value--category {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.meta-value > svg {
	display: inline;
	vertical-align: top;
}

.data-grid {
	border-left: solid 2px var(--color-gray-200);
	display: grid;
	gap: 0.5rem;
	padding-left: 1.5rem;
}

.data-grid + .data-grid {
	padding-top: 0.5rem;
}

.data-grid .label {
	min-height: 2.25rem;
	padding: 0.375rem 0;
}

.data-grid > .value {
	background-color: var(--form-control-background);
	border-radius: 4px;
	font-weight: 500;
	padding: 0.375rem;
}

.data-grid .value.value--read-only {
	background-color: transparent;
	color: var(--color-gray-400);
}

@container (min-inline-size: 40rem) {
	.data-grid {
		grid-template-columns: 1fr 3fr;
	}

	.data-grid > * {
		grid-column: 1 / -1;
	}

	.data-grid > .label {
		grid-column: 1 / 2;
	}

	.data-grid > .label + * {
		grid-column: 2 / 3;
	}
}

/* Markdown editor and viewer */
.markdown-body {
	min-height: 1.5em;
}

.markdown-body ol,
.milkdown .editor ol,
.markdown-body ul:not(.contains-task-list),
.milkdown .editor ul:not(.contains-task-list) {
	list-style: revert;
	padding-inline-start: 1.5rem;
}

.markdown-body p,
.milkdown .editor > p,
.milkdown .editor > ul,
.milkdown .editor > ol {
	margin: 0.875rem 0;
}

.markdown-body > *:first-child,
.milkdown .editor > *:first-child {
	margin-top: 0;
}

.markdown-body > *:last-child,
.milkdown .editor > *:last-child {
	margin-bottom: 0;
}

.markdown-body a,
.milkdown .editor a {
	text-decoration: underline;
}

.milkdown-tooltip {
	position: absolute;
}

.milkdown [data-show='true'] {
	display: block;
}

.milkdown [data-show='false'] {
	display: none;
}

/* Fade out overflow effect */
.masked-overflow {
	--mask-image-content: linear-gradient(
		to bottom,
		transparent,
		black var(--mask-height, 2rem),
		black calc(100% - var(--mask-height, 2rem)),
		transparent
	);
	--mask-size-content: 100% 100%;

	mask-image: var(--mask-image-content);
	mask-size: var(--mask-size-content);
	mask-position:
		0 0,
		100% 0;
	mask-repeat: no-repeat, no-repeat;
	overflow-y: auto;
	padding-bottom: var(--mask-height, 2rem);
}

/* Vertical scroll wrapper */
.vertical-scroll-wrapper {
	--mask-height: 0.875rem;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: var(--mask-height) 0;
}

/* Badges */
.badge {
	--button-background: var(--color-indigo-050);
	--color: var(--color-indigo-500);

	align-items: center;
	background-color: var(--button-background);
	border-radius: 6px;
	color: var(--color);
	display: inline-flex;
	justify-content: center;
	font-size: 0.875rem;
	gap: 0.25rem;
	padding: 0.125rem 0.625rem;
	text-align: center;
	white-space: nowrap;
}

.badge.badge--large {
	font-size: larger;
	padding: 0.25rem 0.75rem;
}

.badge.badge--gray {
	--button-background: var(--color-gray-100);
	--color: var(--color-gray-900);
}

.badge.badge--red {
	--button-background: var(--color-red-100);
	--color: var(--color-red-800);
}

.badge.badge--orange {
	--button-background: var(--color-orange-100);
	--color: var(--color-orange-800);
}

.badge.badge--pink {
	--button-background: var(--color-pink-100);
	--color: var(--color-pink-800);
}

.badge.badge--purple {
	--button-background: var(--color-purple-100);
	--color: var(--color-purple-800);
}

.badge.badge--yellow {
	--button-background: var(--color-yellow-100);
	--color: var(--color-yellow-800);
}

.badge.badge--green {
	--button-background: var(--color-green-100);
	--color: var(--color-green-800);
}

.badge > svg {
	height: 1rem;
	max-width: initial;
	width: 1rem;
}

/* Tabs */
.tabs {
	display: flex;
	flex-basis: 100%;
	gap: 1rem;
	justify-content: flex-start;
}

/* Overlay */
.overlay {
	background-color: white;
	box-shadow: var(--shadow-lg);
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-left: -0.375rem;
	position: relative;
	padding: 0;
	top: calc(var(--nav-height) * -1);
	width: 100%;
	z-index: 3;
}

/* Carousel */
.carousel {
	display: grid;
	gap: 1rem;
	grid-auto-columns: 20rem;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, min-content);
	min-height: calc(6rem + 2 * 1.5rem);
	overflow-x: auto;
	padding: 1.5rem 0;
}

.carousel > li {
	--card-style: carousel;

	display: grid;
	grid-row: 1 / 4;
	grid-template-rows: subgrid;
}

.carousel-toolbar {
	display: flex;
	gap: 0.5rem;
	padding: 0.375rem 0;
}

/* Dropdown */
.dropdown-button {
	--button-active-background: var(--color-gray-300);
	--button-background: var(--form-control-background);
	--button-hover-background: var(--color-gray-100);
	--button-hover-border-color: var(--form-control-background);
	--padding-y: 0.375rem;
	--padding-x: 0.375rem;

	align-items: start;
	border: none;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	width: 100%;
}

.dropdown-button.dropdown-button--badge {
	--button-active-background: var(--color-primary-300);
	--button-hover-background: var(--color-primary-100);
	--button-background: var(--color-primary-050);

	align-items: center;
	border: solid 1px var(--color-primary-200);
	border-radius: calc(infinity * 1px);
	color: var(--color-primary-700);
	display: flex;
	font-size: 0.875rem;
	gap: 0.25rem;
	min-width: 3rem;
	padding: 0.125rem 0.5rem;
}

.dropdown-button > svg {
	flex-shrink: 0;
	margin: 0.125rem;
}

.dropdown-button[aria-expanded='true'] {
	background-color: var(--color-gray-200);
}

.dropdown-button.dropdown-button--badge[aria-expanded='true'] {
	background-color: var(--color-primary-100);
}

.dropdown-button[aria-expanded='true'] > svg {
	color: var(--color-primary-600);
}

.dropdown-button.dropdown-button--badge > svg {
	margin: 0;
}

.dropdown-button.dropdown-button--badge[aria-expanded='true'] > svg {
	color: var(--color-primary-800);
}

.dropdown-panel {
	background-color: white;
	border-radius: 8px;
	border: solid 1px var(--color-gray-200);
	border-color: var(--color-gray-200);
	box-shadow: var(--shadow-lg);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0;
	max-height: 20rem;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0.5rem;
	position: absolute;
	z-index: 1;
}

.dropdown-panel *:has(> input[type='checkbox'], > input[type='radio'], > button) {
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
}

.dropdown-panel *:has(> input[type='checkbox'], > input[type='radio'], > button):hover {
	background-color: var(--color-gray-100);
}

@container style(--drop-down-style: table) {
	.dropdown {
		--form-control-background: transparent;
	}

	.dropdown-button {
		--button-active-background: var(--form-control-background);
		--button-hover-background: var(--form-control-background);

		--padding-y: 0;
		--padding-x: 0;
	}

	.dropdown-button[aria-expanded='true'] {
		background-color: var(--form-control-background);
	}

	.dropdown-button > svg {
		display: none;
	}
}

/* Loader */
.loader {
	animation: rotation 1.5s linear infinite;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	border-color: var(--color-gray-200) var(--color-gray-200) var(--color-gray-200) var(--color-primary-600);
	box-sizing: border-box;
	flex-shrink: 0;
	height: 1rem;
	position: relative;
	width: 1rem;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Utility classes */
.is-hidden {
	display: none;
}

.is-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.truncated {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
