:root {
	--color-blue-200: #c3ddfd;
	--color-blue-500: #3f83f8;
	--color-blue-600: #1c64f2;
	--color-blue-700: #1a56db;
	--color-blue-900: #233876;
	--color-gray-050: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #e2e2ea;
	--color-gray-400: #d5d5dc;
	--color-gray-500: #6b7280;
	--color-gray-800: #1f2a37;
	--color-gray-900: #111827;
	--color-green-050: #f3faf7;
	--color-green-500: #0e9f6e;
	--color-green-600: #057A55;
	--color-green-700: #046c4e;
	--color-indigo-050: #f0f5ff;
	--color-indigo-500: #6875f5;
	--color-orange-050: #fff8f1;
	--color-orange-600: #ff5a1f;
	--color-red-050: #fdf2f2;
	--color-red-300: #f8b4b4;
	--color-red-500: #f05252;
	--color-red-600: #e02424;
	--color-red-700: #c81e1e;
	--color-yellow-050: #fdfdea;
	--color-yellow-200: #fce96a;
	--color-yellow-300: #faca15;
	--color-yellow-400: #e3a008;
	--color-primary: #4dc3c5;
	--color-red: #ca1d61;
	--color-red-background: rgba(205, 37, 97, 0.15);
	--color-orange: #f18c5f;
	--color-orange-background: rgba(241, 140, 95, 0.15);
	--color-yellow: #fccd6c;
	--color-yellow-background: rgba(252, 205, 108, 0.15);
	--color-green: #6edaa6;
	--color-green-background: rgba(110, 218, 166, 0.15);
	--color-blue: #21a5ed;
	--color-blue-background: rgba(33, 165, 237, 0.15);
	--color-is-consistent-with: #6edabe;
	--color-is-duplicate-of: #f9e579;
	--color-is-equivalent-to: #7ad0ff;
	--color-is-inconsistent-with: #ca1d61;
	--gradient-primary: linear-gradient(45deg, rgba(77, 195, 197, 1) 0%, rgba(33, 165, 237, 1) 100%);
	--gradient-first-column: linear-gradient(90deg, rgba(70, 150, 203, 0.15) 0%, rgba(62, 185, 210, 0.15) 100%);
	--gradient-second-column: linear-gradient(90deg, rgba(62, 182, 210, 0.15) 0%, rgba(55, 180, 217, 0.15) 100%);
	--gradient-third-column: linear-gradient(90deg, rgba(55, 180, 217, 0.15) 0%, rgba(47, 174, 224, 0.15) 100%);
	--gradient-fourth-column: linear-gradient(90deg, rgba(47, 174, 224, 0.15) 0%, rgba(40, 169, 231, 0.15) 100%);
	--gradient-fifth-column: linear-gradient(90deg, rgba(40, 169, 231, 0.15) 0%, rgba(32, 164, 238, 0.15) 100%);
	--gradient-idea: linear-gradient(90deg, rgba(218, 75, 96, 0.15) 0%, rgba(225, 95, 96, 0.15) 100%);
	--gradient-in-planning: linear-gradient(90deg, rgba(241, 140, 95, 0.15) 0%, rgb(254, 183, 97, 0.15) 100%);
	--gradient-in-implementation: linear-gradient(90deg, rgba(252, 205, 108, 0.15) 0%, rgba(245, 255, 134, 0.15) 100%);
	--gradient-in-operation: linear-gradient(90deg, rgba(110, 218, 166, 0.15) 0%, rgba(168, 234, 152, 0.15) 100%);
	--gradient-done: linear-gradient(90deg, rgba(70, 190, 203, 0.15) 40.28%, rgba(110, 218, 166, 0.15) 100%);
	--color-hover-neutral: #b4e1f7;
	--color-hover-idea: rgba(218, 75, 96, 0.35);
	--color-hover-in-planning: rgba(241, 140, 95, 0.35);
	--color-hover-in-implementation: rgb(252, 205, 108, 0.35);
	--color-hover-in-operation: rgba(168, 234, 152, 0.35);
	--color-hover-done: rgba(110, 218, 166, 0.35);

	--shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
	--shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
	--shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
	--shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

	--focus-color: var(--color-blue-900);
	--hover-color: var(--color-gray-400);
	--active-color: var(--color-blue-200);
	--button-border-color: #d1d5db;

	--nav-height: 65px;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	color: var(--color-gray-800);
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Tables */
table {
	border-collapse: collapse;
	border-color: inherit;
	color: var(--color-gray-500);
	text-align: left;
	text-indent: 0;
	width: 100%;
}

thead {
	background: var(--color-gray-050);
	color: var(--color-gray-800);
	text-transform: uppercase;
}

tbody {
	color: var(--color-gray-900);
}

tr {
	border-bottom: solid 1px var(--color-gray-200);
}

th {
	padding: 0.75rem 1.5rem;
}

td {
	padding: 1rem 1.5rem;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Focus styles */
:is(a, button, input, select, summary, textarea, .focus-indicator) {
	--outline-color: var(--focus-color, currentColor);
	--outline-offset: -1px;
	--outline-size: max(3px, 0.08em);
	--outline-style: solid;
}

:is(a, button, input, select, summary, textarea):focus,
.focus-indicator:focus-within {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset);
}

:is(a, button, input, select, summary, textarea):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset);
}

:is(a, button, input, select, summary, textarea):focus:not(:focus-visible) {
	/* Removes the regular focus styles for browsers that support :focus-visible */
	outline: none;
}

/* Forms and fieldsets */
.form-tab {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0;
}

.form-tab > legend {
	color: var(--color-gray-800, #1F2A37);
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/* Button styles */
button,
.button {
	--bg-color: transparent;
	--padding-x: 19px;
	--padding-y: 9px;

	background-color: var(--bg-color);
	border: solid 1px var(--button-border-color);
	border-radius: 8px;
	display: inline-flex;
	font-weight: 500;
	padding: var(--padding-y) var(--padding-x);
	margin: 0;
}

button.primary,
.button.primary {
	--bg-color: var(--color-primary);
	--button-border-color: var(--color-primary);

	color: white;
}

button.quiet,
.button.quiet {
	--bg-color: transparent;
	--button-border-color: transparent;
}

button:hover,
.button:hover {
	--bg-color: var(--hover-color);
	--button-border-color: inherit;
}

button.quiet:hover,
.button.quiet:hover {
	--hover-color: transparent;
}

button:active,
.button:active,
button.is-active,
.button.is-active {
	--bg-color: var(--color-gray-300);
}

button:disabled,
.button:disabled {
	--bg-color: var(--color-gray-100);
	--button-border-color: var(--color-gray-100);
}

button.primary:disabled,
.button.primary:disabled {
	--bg-color: var(--color-gray-300);
	--button-border-color: var(--color-gray-300);
}

/* Button group */
.button-group {
	display: flex;
}

.button-group > li {
	display: block;
}

.button-group > li > button,
.button-group > li > .button {
	border: none;
	border-radius: 0;
}

.button-group > li {
	border: solid 1px var(--button-border-color);
	border-right-width: 0;
}

.button-group > li:first-child {
	border-radius: 6px 0 0 6px;
}

.button-group > li:last-child {
	border-radius: 0 6px 6px 0;
	border-right-width: 1px;
}

.button-group button:focus,
.button-group .button:focus {
	background-color: var(--hover-color);
	outline: none;
}

/* Form controls */
label {
	font-weight: 500;
}

input[type='date'],
input[type='email'],
input[type='search'],
input[type='text'],
select,
textarea {
	appearance: none;
	background-color: var(--color-gray-050);
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	color: var(--color-gray-500);
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	padding: 12px 16px;
	width: 100%;
}

input[type='date'] {
	max-height: calc(2 * 0.75rem + 1.2rem + 2px);
}

input[type='file'] {
	background-color: var(--color-gray-050);
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	color: var(--color-gray-500);
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	padding: 0 16px;
	width: 100%;
}

input[type='file']::file-selector-button {
	background-color: var(--color-gray-800);
	border: none;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	color: white;
	margin: 0 16px 0 -16px;
	padding: 12px 16px 12px 16px;
}

input[type='range'] {
	display: block;
	padding: 12px 0;
}

select {
	background: url(/src/lib/assets/chevron-down.svg);
	background-position: right 12px top 12px;
	background-repeat: no-repeat;
	background-size: 18px;
	padding-right: 34px;
}

textarea {
	min-height: 81px;
	resize: vertical;
}

input[type='date']:active,
input[type='email']:active,
input[type='search']:active,
input[type='text']:active,
select:active,
textarea:active {
	border-color: var(--color-blue-600);
}

input[type='date']:invalid,
input[type='email']:invalid,
input[type='search']:invalid,
input[type='text']:invalid,
select:invalid,
textarea:invalid {
	background-color: var(--color-red-050);
	border-color: var(--color-red-500);
	color: var(--color-red-700);
}

input[type='date']:valid,
input[type='email']:valid,
input[type='text']:valid,
select:valid,
textarea:valid {
	background-color: var(--color-green-050);
	border-color: var(--color-green-500);
	color: var(--color-green-700);
}

label > input[type='checkbox'],
label > input[type='radio'] {
	margin-right: 8px;
	vertical-align: top;
}

label:has(> input[type='checkbox'], > input[type='radio']) {
	display: block;
	line-height: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input + .help {
	display: block;
	margin-top: 0.75rem;
}

fieldset {
	border: solid 1px var(--color-gray-300);
	border-radius: 8px;
	margin-inline: 0;
	min-width: 0;
	padding: 12px 16px;
}

/* SVG icons */
.icon-20 {
	--size: 20px;

	height: var(--size);
	width: var(--size);
}

.icon-24 {
	--size: 24px;

	height: var(--size);
	width: var(--size);
}

.icon-32 {
	--size: 32px;

	height: var(--size);
	width: var(--size);
}

/* Avatars */
.avatar {
	background-color: var(--color-blue-500);
	border-radius: 50%;
	display: inline-block;
	font-size: var(--font-size);
	height: calc(2 * var(--radius));
	line-height: 1;
	padding: calc(var(--radius) - var(--font-size) / 2) 0;
	text-align: center;
	width: calc(2 * var(--radius));
}

.avatar.avatar-s {
	--radius: 1rem;
	--font-size: 0.75rem;
}

.avatar.avatar-m {
	--radius: 1.5rem;
	--font-size: 1rem;
}

/* Logos of organizations */
.logo {
	height: 30px;
	width: auto;
}

/* Container detail page content */
.detail-page-content {
	background-color: white;
	border: 1px solid var(--color-gray-200);
	border-radius: 8px;
	box-shadow: var(--shadow-lg);
	display: flex;
	flex: 1 1;
	flex-direction: column;
	height: calc(100% - 2rem);
	margin: 1rem;
}

.content-header {
	border-bottom: solid 1px var(--color-gray-200);
	padding: 1.5rem 1.5rem 1.5rem 5.25rem;
}

.content-header h2,
.content-header label {
	display: block;
	font-size: 1.125rem;
	font-weight: 600;
}

.content-header h2 {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.content-details {
	--mask-height: 1.5rem;

	flex-grow: 1;
	padding: 1.5rem 1.5rem 1.5rem 5.25rem;
}

.content-details > aside {
	margin-left: -5.25rem;
	position: fixed;
}

.content-details > aside > * {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.content-details > aside > *:nth-child(2) {
	border-top: solid 1px var(--color-gray-200);
	margin-top: 0.5rem;
	padding-top: 0.5rem;
}

.content-footer {
	padding: 1.5rem 1.5rem 1.5rem 5.25rem;
}

.content-actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1.5rem;
}

.content-actions .delete {
	color: var(--color-red-500);
	margin-left: auto;
}

.icons {
	display: flex;
	flex-shrink: 0;
	gap: 1rem;
	margin-left: auto;
}

.icons-element {
	--padding-x: 0;
	--padding-y: 0;

	border: none;
}

.icons-element:hover {
	--bg-color: transparent;

	color: var(--color-gray-500);
}

.details {
	color: var(--color-gray-500);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.details h3 {
	color: var(--color-gray-800);
	font-size: inherit;
	font-weight: 500;
	margin-bottom: 0.875rem;
}

.meta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 48px;
}

.meta-key {
	flex: 0 0 140px;
}

.meta-value {
	flex: 1;
}

.meta-value--category li {
	display: inline-block;
}

.meta-value svg {
	display: inline;
	vertical-align: top;
}

/* Markdown editor and viewer */
.markdown-body ol,
.milkdown .editor ol,
.markdown-body ul:not(.contains-task-list) {
	list-style: revert;
	padding-inline-start: 1.5rem;
}

.markdown-body p,
.milkdown .editor > p,
.milkdown .editor > ul,
.milkdown .editor > ol {
	margin: 0.875rem 0;
}

.milkdown .editor > *:first-child {
	margin-top: 0;
}

.milkdown .editor > *:last-child {
	margin-bottom: 0;
}

.markdown-body a, .milkdown .editor a {
	text-decoration: underline
}

/* Fade out overflow effect */
.masked-overflow {
	--mask-image-content: linear-gradient(
		to bottom,
		transparent,
		black var(--mask-height, 2rem),
		black calc(100% - var(--mask-height, 2rem)),
		transparent
	);
	--mask-size-content: 100% 100%;

	mask-image: var(--mask-image-content);
	mask-size: var(--mask-size-content);
	mask-position:
		0 0,
		100% 0;
	mask-repeat: no-repeat, no-repeat;
	overflow-y: auto;
	padding-bottom: var(--mask-height, 2rem);
}

/* Vertical scroll wrapper */
.vertical-scroll-wrapper {
	--mask-height: 0.875rem;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: var(--mask-height) 0;
}

/* Badges */
.badge {
	--bg-color: var(--color-indigo-050);
	--color: var(--color-indigo-500);

	align-items: center;
	background-color: var(--bg-color);
	border-radius: 6px;
	color: var(--color);
	display: inline-flex;
	justify-content: center;
	gap: 0.25rem;
	padding: 0.125rem 0.75rem;
	text-align: center;
}

.badge.badge--red {
	--bg-color: var(--color-red-background);
	--color: var(--color-red);
}

.badge.badge--orange {
	--bg-color: var(--color-orange-background);
	--color: var(--color-orange);
}

.badge.badge--yellow {
	--bg-color: var(--color-yellow-background);
	--color: var(--color-yellow);
}

.badge.badge--green {
	--bg-color: var(--color-green-background);
	--color: var(--color-green);
}

/* Tabs */
.tabs {
	display: flex;
	flex-basis: 100%;
	gap: 1rem;
	justify-content: flex-start;
	margin-top: 1rem;
}

/* Overlay */
.overlay {
	height: calc(100%);
	margin-left: -0.375rem;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
	z-index: 1;
}

.overlay > :global(*) {
	min-width: 100vw;
}

/* Utility classes */
.is-hidden {
	display: none;
}
