name: CI (app)

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
  pull_request:
    branches:
      - main
    paths:
      - 'app/**'

env:
  REGISTRY: rg.fr-par.scw.cloud/knot-dots

jobs:
  test:
    timeout-minutes: 60

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    steps:
      - uses: actions/checkout@v4
      - name: Add keycloak entry to /etc/hosts
        run: |
          IP="127.0.0.1"
          HOSTNAME="keycloak"
          # Construct the entry and append it to /etc/hosts using sudo
          echo "$IP $HOSTNAME" | sudo tee -a /etc/hosts
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ./app/package-lock.json
      - run: npm clean-install
      - run: npm run lint
      - run: npx playwright install --with-deps
      - run: docker compose build
      - run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-results
          path: ./app/test-results/
          retention-days: 7

  build:
    needs: [ test ]

    runs-on: ubuntu-latest

    steps:
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}
      - uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:app"
          target: production
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ env.REGISTRY }}/app:${{ github.sha }}
            ${{ env.REGISTRY }}/app:latest
