name: CI (app)

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci-app.yaml"
      - "app/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci-app.yaml"
      - "app/**"

env:
  REGISTRY: rg.fr-par.scw.cloud/knot-dots

jobs:
  checks:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ./app/package-lock.json
      - run: npm ci
      - run: npm run lint
      - run: npm run check

  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ./app/package-lock.json
      - run: npm ci

      # Generate SvelteKit aliases ($lib) without running full type check
      - name: Sync SvelteKit Config
        run: npx svelte-kit sync

      # Cache Playwright browsers
      - name: Get Playwright version
        id: playwright-version
        run: echo "VERSION=$(npm list @playwright/test --json | jq -r .dependencies.\"@playwright/test\".version)" >> $GITHUB_OUTPUT

      - name: Cache Playwright Binaries
        id: playwright-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.VERSION }}

      - name: Install Playwright
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps

      - name: Install Playwright Deps (OS-level)
        if: steps.playwright-cache.outputs.cache-hit == 'true'
        run: npx playwright install-deps

      - run: docker compose build

      - name: Add keycloak entry to /etc/hosts
        run: echo "127.0.0.1 keycloak" | sudo tee -a /etc/hosts

      - run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-results
          path: ./app/test-results/
          retention-days: 7

  build:
    needs: [checks, test]

    runs-on: ubuntu-latest

    steps:
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}
      - uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:app"
          target: production
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ env.REGISTRY }}/app:${{ github.sha }}
            ${{ env.REGISTRY }}/app:latest
