name: CI (import)

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci-import.yaml'
      - 'import/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/ci-import.yaml'
      - 'import/**'

env:
  REGISTRY: rg.fr-par.scw.cloud/knot-dots

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}
      - uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:import"
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ env.REGISTRY }}/import:${{ github.sha }}
            ${{ env.REGISTRY }}/import:latest
