name: CI (indexing-worker)

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci-indexing-worker.yaml'
      - 'worker/**'
      - 'shared/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/ci-indexing-worker.yaml'
      - 'worker/**'
      - 'shared/**'

env:
  REGISTRY: rg.fr-par.scw.cloud/knot-dots

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: ./worker/Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ env.REGISTRY }}/indexing-worker:${{ github.sha }}
            ${{ env.REGISTRY }}/indexing-worker:latest
